@model IEnumerable<Facturacion.Web.Models.ClientsViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BornDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BornDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsProfit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Profit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Discount)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Details", "Details", new { id = item.ClientId }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
